In [6]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random
import sqlite3  # Using SQLite for immediate start - no setup needed!

# Set random seed for reproducible data
np.random.seed(42)
random.seed(42)

def generate_students(n=1000):
    """Generate synthetic student data"""
    majors = ['Computer Science', 'Business', 'Psychology', 'Biology', 'English', 
              'Mathematics', 'History', 'Chemistry', 'Political Science', 'Art']
    
    students = []
    for i in range(n):
        student_id = f"STU{str(i+1).zfill(6)}"
        first_names = ['Alex', 'Jordan', 'Taylor', 'Morgan', 'Casey', 'Riley', 'Avery', 'Quinn']
        last_names = ['Smith', 'Johnson', 'Williams', 'Brown', 'Jones', 'Garcia', 'Miller', 'Davis']
        
        student = {
            'student_id': student_id,
            'first_name': random.choice(first_names),
            'last_name': random.choice(last_names),
            'email': f"{student_id.lower()}@college.edu",
            'major': random.choice(majors),
            'year_level': random.choice([1, 2, 3, 4]),
            'gpa': round(random.uniform(2.0, 4.0), 2),
            'enrollment_date': datetime(2020, 8, 15) + timedelta(days=random.randint(0, 1460)),
            'is_active': random.choice([True, True, True, False])  # 75% active
        }
        students.append(student)
    
    return pd.DataFrame(students)

def generate_courses(n=50):
    """Generate synthetic course data"""
    departments = ['CS', 'BUS', 'PSY', 'BIO', 'ENG', 'MATH', 'HIST', 'CHEM', 'POLS', 'ART']
    course_types = ['Lecture', 'Lab', 'Seminar', 'Workshop']
    
    courses = []
    for i in range(n):
        dept = random.choice(departments)
        course_num = random.randint(1000, 4999)
        
        course = {
            'course_id': f"{dept}-{course_num}",
            'course_name': f"{dept} Course {course_num}",
            'department': dept,
            'credits': random.choice([1, 2, 3, 4]),
            'course_type': random.choice(course_types),
            'max_enrollment': random.randint(15, 100),
            'semester': random.choice(['Fall', 'Spring', 'Summer']),
            'year': random.choice([2023, 2024, 2025])
        }
        courses.append(course)
    
    return pd.DataFrame(courses)

def generate_enrollments(students_df, courses_df, n=2000):
    """Generate synthetic enrollment data"""
    enrollments = []
    
    for i in range(n):
        student_id = random.choice(students_df['student_id'].tolist())
        course_id = random.choice(courses_df['course_id'].tolist())
        
        # Avoid duplicate enrollments
        if any(e['student_id'] == student_id and e['course_id'] == course_id for e in enrollments):
            continue
            
        enrollment = {
            'enrollment_id': f"ENR{str(i+1).zfill(6)}",
            'student_id': student_id,
            'course_id': course_id,
            'enrollment_date': datetime.now() - timedelta(days=random.randint(1, 365)),
            'grade': random.choice(['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D', 'F', None]),
            'status': random.choice(['Enrolled', 'Completed', 'Dropped', 'Withdrawn'])
        }
        enrollments.append(enrollment)
    
    return pd.DataFrame(enrollments)

def create_database_and_load_data():
    """Create SQLite database and load all data"""
    print("üöÄ Generating synthetic campus data...")
    
    # Generate data
    students_df = generate_students(1000)
    courses_df = generate_courses(50)
    enrollments_df = generate_enrollments(students_df, courses_df, 2000)
    
    print(f"‚úÖ Generated:")
    print(f"   - {len(students_df)} students")
    print(f"   - {len(courses_df)} courses") 
    print(f"   - {len(enrollments_df)} enrollments")
    
    # Create database
    conn = sqlite3.connect('campus_data.db')
    
    # Load data into database
    students_df.to_sql('students', conn, if_exists='replace', index=False)
    courses_df.to_sql('courses', conn, if_exists='replace', index=False)
    enrollments_df.to_sql('enrollments', conn, if_exists='replace', index=False)
    
    print("üìä Data loaded into campus_data.db")
    
    # Show some sample queries
    print("\nüîç Sample Data Analysis:")
    
    # Query 1: Students by major
    query1 = """
    SELECT major, COUNT(*) as student_count, AVG(gpa) as avg_gpa
    FROM students 
    WHERE is_active = 1
    GROUP BY major 
    ORDER BY student_count DESC
    """
    result1 = pd.read_sql_query(query1, conn)
    print("\nüìà Active Students by Major:")
    print(result1.head())
    
    # Query 2: Course enrollment stats
    query2 = """
    SELECT c.department, COUNT(e.enrollment_id) as total_enrollments,
           COUNT(CASE WHEN e.status = 'Completed' THEN 1 END) as completed
    FROM courses c
    LEFT JOIN enrollments e ON c.course_id = e.course_id
    GROUP BY c.department
    ORDER BY total_enrollments DESC
    """
    result2 = pd.read_sql_query(query2, conn)
    print("\nüìö Enrollments by Department:")
    print(result2.head())
    
    # Query 3: Grade distribution
    query3 = """
    SELECT grade, COUNT(*) as count,
           ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM enrollments WHERE grade IS NOT NULL), 1) as percentage
    FROM enrollments 
    WHERE grade IS NOT NULL
    GROUP BY grade 
    ORDER BY count DESC
    """
    result3 = pd.read_sql_query(query3, conn)
    print("\nüéì Grade Distribution:")
    print(result3)
    
    conn.close()
    
    print("\nüéâ SUCCESS! You now have:")
    print("   - A SQLite database with realistic campus data")
    print("   - Example queries showing data analysis patterns")
    print("   - Foundation for building your portfolio project")
    
    print("\nüìù Next Steps:")
    print("   1. Explore the data with your own SQL queries")
    print("   2. Create visualizations with matplotlib or plotly")
    print("   3. Build a simple API to serve this data")
    print("   4. Add data pipeline automation")

# if __name__ == "__main__":
create_database_and_load_data()

üöÄ Generating synthetic campus data...
‚úÖ Generated:
   - 1000 students
   - 50 courses
   - 1953 enrollments
üìä Data loaded into campus_data.db

üîç Sample Data Analysis:

üìà Active Students by Major:
         major  student_count   avg_gpa
0    Chemistry             79  2.947848
1  Mathematics             78  2.924872
2      English             78  2.917949
3   Psychology             77  2.849870
4     Business             75  2.874933

üìö Enrollments by Department:
  department  total_enrollments  completed
0        BUS                316         69
1         CS                293         83
2       HIST                284         77
3       CHEM                272         68
4       POLS                184         48

üéì Grade Distribution:
  grade  count  percentage
0     C    205        11.5
1     B    200        11.3
2    C+    182        10.3
3    C-    179        10.1
4    B+    178        10.0
5    A-    174         9.8
6    B-    172         9.7
7     A    170         9.6
8     D    164         9.2
9     F    151         8.5

üéâ SUCCESS! You now have:
   - A SQLite database with realistic campus data
   - Example queries showing data analysis patterns
   - Foundation for building your portfolio project

üìù Next Steps:
   1. Explore the data with your own SQL queries
   2. Create visualizations with matplotlib or plotly
   3. Build a simple API to serve this data
   4. Add data pipeline automation

In [7]:
from sqlalchemy import create_engine, select, insert, update, delete, Text, inspect
from sqlalchemy import  MetaData, Table, Column, Integer, String, Float, DateTime
import pandas as pd
DB_URL = "sqlite:///campus_data.db"
engine = create_engine(DB_URL)
table_names = inspect(engine).get_table_names()
table_names

['courses', 'enrollments', 'students']

In [8]:
metadata = MetaData()
students = Table('students', metadata, autoload_with=engine)

with engine.connect() as connection:
    results = connection.execute(select(students)).mappings()
    # df = results.fetchall()
    student_df = pd.DataFrame(results.fetchall())
student_df

,email,enrollment_date,first_name,gpa,is_active,last_name,major,student_id,year_level
0,stu000001@college.edu,2021-03-12,Jordan,2.45,1,Smith,English,STU000001,2
1,stu000002@college.edu,2023-06-15,Avery,2.44,1,Smith,Computer Science,STU000002,1
2,stu000003@college.edu,2020-08-28,Morgan,3.18,1,Miller,Biology,STU000003,4
3,stu000004@college.edu,2022-07-05,Avery,2.43,1,Garcia,English,STU000004,2
4,stu000005@college.edu,2024-01-03,Jordan,3.69,1,Miller,Business,STU000005,3
...,...,...,...,...,...,...,...,...,...
995,stu000996@college.edu,2022-02-11,Jordan,3.89,1,Brown,Biology,STU000996,2
996,stu000997@college.edu,2023-12-26,Quinn,3.71,1,Miller,Psychology,STU000997,4
997,stu000998@college.edu,2021-06-09,Casey,2.82,1,Brown,History,STU000998,2
998,stu000999@college.edu,2022-09-11,Casey,3.81,0,Jones,Biology,STU000999,4
999,stu001000@college.edu,2024-07-04,Jordan,3.74,0,Smith,Chemistry,STU001000,2

In [78]:
cols =['first_name', 'last_name','major','gpa','is_active']
filter = 'gpa < 2.5 and `is_active` == 1'
student_df[cols].query(filter).sort_values('gpa')

    first_name last_name             major   gpa  is_active
386     Jordan  Williams         Chemistry  2.00          1
609      Casey    Miller           English  2.01          1
343      Quinn   Johnson        Psychology  2.01          1
557      Casey  Williams        Psychology  2.01          1
618       Alex  Williams         Chemistry  2.02          1
..         ...       ...               ...   ...        ...
562       Alex   Johnson       Mathematics  2.48          1
398     Morgan     Davis           History  2.48          1
411     Morgan     Smith  Computer Science  2.49          1
12       Quinn  Williams           English  2.49          1
750      Avery     Davis          Business  2.49          1

[200 rows x 5 columns]

In [56]:
table_names

['courses', 'enrollments', 'students']

In [61]:
metadata = MetaData()
courses = Table('courses', metadata, autoload_with=engine)

with engine.connect() as connection:
    results = connection.execute(select(courses)).mappings()
    # df = results.fetchall()
    course_df = pd.DataFrame(results.fetchall())
course_df

,course_id,course_name,course_type,credits,department,max_enrollment,semester,year
0,BIO-3921,BIO Course 3921,Workshop,4,BIO,91,Spring,2023
1,BUS-3281,BUS Course 3281,Lecture,1,BUS,57,Fall,2024
2,MATH-3483,MATH Course 3483,Lecture,1,MATH,47,Summer,2025
3,HIST-2239,HIST Course 2239,Seminar,4,HIST,31,Summer,2023
4,ART-1734,ART Course 1734,Lab,3,ART,79,Spring,2024
5,CHEM-1540,CHEM Course 1540,Seminar,1,CHEM,82,Spring,2023
6,ENG-1478,ENG Course 1478,Lecture,3,ENG,31,Spring,2024
7,MATH-4793,MATH Course 4793,Seminar,4,MATH,48,Summer,2024
8,POLS-2282,POLS Course 2282,Lab,4,POLS,55,Summer,2024
9,PSY-3276,PSY Course 3276,Lecture,4,PSY,39,Fall,2023
10,BIO-1750,BIO Course 1750,Workshop,1,BIO,48,Fall,2025
11,CHEM-2787,CHEM Course 2787,Workshop,1,CHEM,20,Spring,2024
12,POLS-2987,POLS Course 2987,Workshop,4,POLS,29,Summer,2023
13,BUS-2431,BUS Course 2431,Lab,1,BUS,51,Fall,2023
14,POLS-4369,POLS Course 4369,Lab,3,POLS,89,Fall,2025
15,ART-1739,ART Course 1739,Lecture,4,ART,46,Spring,2025
16,BUS-4634,BUS Course 4634,Lecture,3,BUS,51,Summer,2025
17,BUS-2614,BUS Course 2614,Lecture,3,BUS,56,Fall,2023
18,BUS-2885,BUS Course 2885,Workshop,4,BUS,95,Spring,2025
19,CS-2349,CS Course 2349,Workshop,1,CS,56,Summer,2025
20,ART-1529,ART Course 1529,Lecture,2,ART,97,Spring,2024
21,CS-4046,CS Course 4046,Workshop,1,CS,26,Spring,2024
22,PSY-1983,PSY Course 1983,Lecture,4,PSY,17,Fall,2023
23,HIST-4192,HIST Course 4192,Seminar,4,HIST,97,Summer,2023
24,BUS-2222,BUS Course 2222,Workshop,4,BUS,54,Summer,2025
25,PSY-2470,PSY Course 2470,Seminar,1,PSY,80,Fall,2024
26,CHEM-4626,CHEM Course 4626,Workshop,4,CHEM,49,Summer,2025
27,HIST-1369,HIST Course 1369,Seminar,4,HIST,93,Fall,2024
28,HIST-1380,HIST Course 1380,Seminar,1,HIST,74,Summer,2023
29,PSY-4812,PSY Course 4812,Lecture,4,PSY,52,Spring,2024
30,BUS-4715,BUS Course 4715,Seminar,4,BUS,34,Fall,2025
31,ENG-4446,ENG Course 4446,Workshop,2,ENG,52,Summer,2023
32,POLS-1313,POLS Course 1313,Lecture,1,POLS,80,Spring,2024
33,BUS-2903,BUS Course 2903,Seminar,3,BUS,47,Summer,2023
34,POLS-1066,POLS Course 1066,Workshop,1,POLS,37,Fall,2024
35,CS-1341,CS Course 1341,Seminar,4,CS,55,Summer,2025
36,CHEM-4102,CHEM Course 4102,Seminar,4,CHEM,58,Fall,2023
37,PSY-1320,PSY Course 1320,Lecture,3,PSY,70,Summer,2023
38,CS-2617,CS Course 2617,Lecture,1,CS,36,Summer,2024
39,CHEM-3833,CHEM Course 3833,Workshop,4,CHEM,53,Summer,2025
40,MATH-3828,MATH Course 3828,Seminar,4,MATH,26,Fall,2023
41,CS-1781,CS Course 1781,Lecture,1,CS,39,Fall,2023
42,CHEM-3656,CHEM Course 3656,Lab,2,CHEM,70,Summer,2025
43,BIO-1352,BIO Course 1352,Workshop,3,BIO,33,Spring,2024
44,CS-1477,CS Course 1477,Lab,2,CS,71,Spring,2024
45,CS-4521,CS Course 4521,Lab,4,CS,40,Spring,2025
46,HIST-1208,HIST Course 1208,Lecture,3,HIST,28,Summer,2025
47,HIST-2702,HIST Course 2702,Seminar,4,HIST,19,Spring,2024
48,CHEM-3102,CHEM Course 3102,Lab,4,CHEM,22,Summer,2023
49,HIST-3360,HIST Course 3360,Lecture,3,HIST,49,Summer,2024

In [64]:
metadata = MetaData()
enrollment = Table('enrollments', metadata, autoload_with=engine)

with engine.connect() as connection:
    results = connection.execute(select(enrollment)).mappings()
    # df = results.fetchall()
    enrollment_df = pd.DataFrame(results.fetchall())
enrollment_df

,course_id,enrollment_date,enrollment_id,grade,status,student_id
0,BUS-4715,2025-07-09 20:37:54.547022,ENR000001,C-,Dropped,STU000911
1,CS-1477,2025-01-26 20:37:54.547042,ENR000002,A,Completed,STU000460
2,HIST-1208,2025-05-31 20:37:54.547053,ENR000003,C-,Dropped,STU000295
3,POLS-4369,2024-12-21 20:37:54.547063,ENR000004,B,Dropped,STU000449
4,CS-2617,2024-10-05 20:37:54.547072,ENR000005,C-,Completed,STU000944
...,...,...,...,...,...,...
1948,HIST-1208,2024-10-16 20:37:54.645401,ENR001996,B-,Completed,STU000750
1949,CHEM-3102,2025-05-29 20:37:54.645490,ENR001997,A-,Withdrawn,STU000146
1950,PSY-2470,2025-05-17 20:37:54.645578,ENR001998,A,Enrolled,STU000283
1951,BIO-3921,2025-06-30 20:37:54.645666,ENR001999,B,Withdrawn,STU000311
1952,POLS-2987,2025-02-05 20:37:54.645754,ENR002000,B+,Withdrawn,STU000583

## SQL-Alchemy Session

In [33]:
students.columns.items()

[('student_id', Column('student_id', TEXT(), table=<students>)),
 ('first_name', Column('first_name', TEXT(), table=<students>)),
 ('last_name', Column('last_name', TEXT(), table=<students>)),
 ('email', Column('email', TEXT(), table=<students>)),
 ('major', Column('major', TEXT(), table=<students>)),
 ('year_level', Column('year_level', INTEGER(), table=<students>)),
 ('gpa', Column('gpa', REAL(), table=<students>)),
 ('enrollment_date', Column('enrollment_date', TIMESTAMP(), table=<students>)),
 ('is_active', Column('is_active', INTEGER(), table=<students>))]

In [45]:
from sqlalchemy import create_engine, Boolean
from sqlalchemy.orm import sessionmaker, declarative_base

Base = declarative_base()

class Student(Base):
    __tablename__ = 'students'
    student_id = Column(String, primary_key=True)
    first_name = Column(String)
    last_name = Column(String)
    email = Column(String)
    major = Column(String)
    year_level = Column(Integer)
    gpa = Column(Float)
    enrollment_date = Column(DateTime)
    is_active = Column(Boolean)

    # id =Column(Integer, primary_key=True)
# Replace with your actual database connection string
# engine = create_engine('your_database_connection_string')

# Create all tables in the engine
Base.metadata.create_all(engine)

# Create a session factory
Session = sessionmaker(bind=engine)
# Create a session instance
session = Session()

In [48]:
# Query the Student class
query = session.query(Student).filter(
    Student.gpa < 2.5,
    Student.is_active == True  # OR Student.is_active == 1 depending on your database
)

# Execute the query and get the results
for student in query.all():
    print(f"Name: {student.first_name} {student.last_name}, Major: {student.major}, GPA: {student.gpa}")

Name: Jordan Smith, Major: English, GPA: 2.45
Name: Avery Smith, Major: Computer Science, GPA: 2.44
Name: Avery Garcia, Major: English, GPA: 2.43
Name: Quinn Williams, Major: English, GPA: 2.49
Name: Alex Brown, Major: Art, GPA: 2.17
Name: Quinn Davis, Major: Business, GPA: 2.45
Name: Morgan Brown, Major: Political Science, GPA: 2.28
Name: Quinn Jones, Major: History, GPA: 2.31
Name: Alex Smith, Major: Mathematics, GPA: 2.1
Name: Jordan Brown, Major: Mathematics, GPA: 2.32
Name: Alex Brown, Major: Mathematics, GPA: 2.14
Name: Taylor Johnson, Major: English, GPA: 2.19
Name: Morgan Brown, Major: Psychology, GPA: 2.09
Name: Morgan Williams, Major: Political Science, GPA: 2.1
Name: Quinn Brown, Major: English, GPA: 2.15
Name: Avery Smith, Major: Business, GPA: 2.27
Name: Alex Jones, Major: History, GPA: 2.42
Name: Taylor Johnson, Major: Psychology, GPA: 2.22
Name: Riley Smith, Major: Chemistry, GPA: 2.36
Name: Riley Johnson, Major: Political Science, GPA: 2.38
Name: Casey Johnson, Major: Biology, GPA: 2.45
Name: Taylor Williams, Major: Art, GPA: 2.17
Name: Morgan Jones, Major: Business, GPA: 2.48
Name: Taylor Jones, Major: Psychology, GPA: 2.12
Name: Avery Williams, Major: Chemistry, GPA: 2.25
Name: Avery Williams, Major: Psychology, GPA: 2.16
Name: Alex Davis, Major: English, GPA: 2.15
Name: Quinn Jones, Major: Biology, GPA: 2.44
Name: Avery Garcia, Major: Business, GPA: 2.03
Name: Quinn Jones, Major: History, GPA: 2.28
Name: Jordan Brown, Major: Art, GPA: 2.1
Name: Taylor Johnson, Major: Computer Science, GPA: 2.03
Name: Alex Williams, Major: English, GPA: 2.25
Name: Jordan Garcia, Major: Art, GPA: 2.13
Name: Avery Jones, Major: Chemistry, GPA: 2.2
Name: Casey Garcia, Major: Business, GPA: 2.31
Name: Jordan Garcia, Major: Political Science, GPA: 2.23
Name: Avery Smith, Major: Art, GPA: 2.06
Name: Jordan Smith, Major: Chemistry, GPA: 2.35
Name: Jordan Miller, Major: English, GPA: 2.44
Name: Morgan Johnson, Major: Psychology, GPA: 2.39
Name: Riley Garcia, Major: Psychology, GPA: 2.14
Name: Taylor Johnson, Major: History, GPA: 2.04
Name: Morgan Garcia, Major: Chemistry, GPA: 2.45
Name: Avery Johnson, Major: Mathematics, GPA: 2.06
Name: Morgan Williams, Major: Political Science, GPA: 2.22
Name: Taylor Johnson, Major: Political Science, GPA: 2.14
Name: Quinn Davis, Major: Psychology, GPA: 2.13
Name: Riley Jones, Major: Business, GPA: 2.16
Name: Taylor Smith, Major: Psychology, GPA: 2.07
Name: Riley Jones, Major: Business, GPA: 2.39
Name: Casey Smith, Major: Business, GPA: 2.27
Name: Avery Garcia, Major: Computer Science, GPA: 2.1
Name: Taylor Garcia, Major: Chemistry, GPA: 2.3
Name: Alex Davis, Major: Psychology, GPA: 2.3
Name: Riley Garcia, Major: English, GPA: 2.38
Name: Avery Garcia, Major: Psychology, GPA: 2.08
Name: Quinn Jones, Major: Chemistry, GPA: 2.4
Name: Casey Williams, Major: Business, GPA: 2.48
Name: Quinn Williams, Major: English, GPA: 2.02
Name: Casey Brown, Major: Business, GPA: 2.32
Name: Avery Miller, Major: Political Science, GPA: 2.17
Name: Quinn Garcia, Major: Business, GPA: 2.12
Name: Quinn Garcia, Major: Psychology, GPA: 2.38
Name: Avery Smith, Major: Biology, GPA: 2.13
Name: Alex Williams, Major: Political Science, GPA: 2.47
Name: Quinn Garcia, Major: Business, GPA: 2.1
Name: Casey Williams, Major: Biology, GPA: 2.46
Name: Alex Miller, Major: Psychology, GPA: 2.14
Name: Quinn Smith, Major: Computer Science, GPA: 2.02
Name: Quinn Smith, Major: Computer Science, GPA: 2.17
Name: Avery Williams, Major: Business, GPA: 2.11
Name: Quinn Johnson, Major: Psychology, GPA: 2.01
Name: Avery Davis, Major: Psychology, GPA: 2.48
Name: Avery Smith, Major: Mathematics, GPA: 2.22
Name: Jordan Smith, Major: Business, GPA: 2.44
Name: Jordan Jones, Major: Computer Science, GPA: 2.05
Name: Taylor Davis, Major: English, GPA: 2.37
Name: Morgan Jones, Major: Computer Science, GPA: 2.45
Name: Riley Johnson, Major: Political Science, GPA: 2.44
Name: Quinn Garcia, Major: Computer Science, GPA: 2.2
Name: Jordan Williams, Major: Chemistry, GPA: 2.0
Name: Taylor Jones, Major: Psychology, GPA: 2.19
Name: Avery Johnson, Major: Business, GPA: 2.43
Name: Morgan Davis, Major: History, GPA: 2.48
Name: Riley Williams, Major: Chemistry, GPA: 2.03
Name: Alex Brown, Major: Business, GPA: 2.23
Name: Taylor Davis, Major: Mathematics, GPA: 2.33
Name: Jordan Davis, Major: Chemistry, GPA: 2.11
Name: Morgan Smith, Major: Computer Science, GPA: 2.49
Name: Jordan Garcia, Major: Business, GPA: 2.36
Name: Jordan Davis, Major: Computer Science, GPA: 2.4
Name: Taylor Smith, Major: History, GPA: 2.47
Name: Riley Smith, Major: History, GPA: 2.21
Name: Taylor Jones, Major: Art, GPA: 2.43
Name: Jordan Davis, Major: Business, GPA: 2.24
Name: Taylor Johnson, Major: Mathematics, GPA: 2.09
Name: Alex Johnson, Major: English, GPA: 2.27
Name: Riley Miller, Major: English, GPA: 2.05
Name: Avery Garcia, Major: Psychology, GPA: 2.47
Name: Casey Williams, Major: Chemistry, GPA: 2.18
Name: Riley Williams, Major: Mathematics, GPA: 2.04
Name: Quinn Garcia, Major: Psychology, GPA: 2.45
Name: Morgan Johnson, Major: Computer Science, GPA: 2.34
Name: Alex Miller, Major: Business, GPA: 2.4
Name: Casey Davis, Major: Computer Science, GPA: 2.23
Name: Alex Miller, Major: Mathematics, GPA: 2.1
Name: Morgan Garcia, Major: Chemistry, GPA: 2.36
Name: Casey Jones, Major: English, GPA: 2.3
Name: Casey Williams, Major: Mathematics, GPA: 2.44
Name: Morgan Garcia, Major: History, GPA: 2.29
Name: Taylor Johnson, Major: History, GPA: 2.33
Name: Riley Davis, Major: Mathematics, GPA: 2.33
Name: Taylor Johnson, Major: Chemistry, GPA: 2.48
Name: Jordan Davis, Major: Chemistry, GPA: 2.24
Name: Casey Miller, Major: Computer Science, GPA: 2.05
Name: Casey Williams, Major: Psychology, GPA: 2.01
Name: Taylor Miller, Major: Political Science, GPA: 2.18
Name: Alex Johnson, Major: Mathematics, GPA: 2.48
Name: Quinn Williams, Major: Political Science, GPA: 2.27
Name: Taylor Williams, Major: Biology, GPA: 2.39
Name: Riley Garcia, Major: Psychology, GPA: 2.2
Name: Taylor Garcia, Major: Mathematics, GPA: 2.34
Name: Avery Davis, Major: Chemistry, GPA: 2.08
Name: Taylor Brown, Major: Business, GPA: 2.42
Name: Morgan Smith, Major: Psychology, GPA: 2.27
Name: Taylor Garcia, Major: Chemistry, GPA: 2.46
Name: Casey Miller, Major: English, GPA: 2.01
Name: Taylor Davis, Major: Art, GPA: 2.18
Name: Alex Williams, Major: Chemistry, GPA: 2.02
Name: Taylor Davis, Major: Mathematics, GPA: 2.44
Name: Taylor Brown, Major: Chemistry, GPA: 2.47
Name: Riley Williams, Major: Chemistry, GPA: 2.42
Name: Riley Miller, Major: English, GPA: 2.36
Name: Avery Williams, Major: Psychology, GPA: 2.25
Name: Alex Smith, Major: History, GPA: 2.21
Name: Taylor Williams, Major: Political Science, GPA: 2.06
Name: Morgan Garcia, Major: Computer Science, GPA: 2.1
Name: Taylor Johnson, Major: English, GPA: 2.25
Name: Avery Davis, Major: Biology, GPA: 2.4
Name: Quinn Miller, Major: English, GPA: 2.32
Name: Jordan Brown, Major: History, GPA: 2.03
Name: Taylor Garcia, Major: Business, GPA: 2.32
Name: Quinn Jones, Major: Political Science, GPA: 2.38
Name: Riley Miller, Major: Mathematics, GPA: 2.19
Name: Alex Williams, Major: Psychology, GPA: 2.4
Name: Casey Brown, Major: Biology, GPA: 2.04
Name: Morgan Johnson, Major: Mathematics, GPA: 2.35
Name: Casey Smith, Major: Art, GPA: 2.16
Name: Riley Brown, Major: Political Science, GPA: 2.41
Name: Casey Williams, Major: Computer Science, GPA: 2.4
Name: Jordan Smith, Major: English, GPA: 2.46
Name: Taylor Garcia, Major: History, GPA: 2.18
Name: Riley Johnson, Major: Political Science, GPA: 2.37
Name: Taylor Brown, Major: Business, GPA: 2.37
Name: Taylor Williams, Major: Biology, GPA: 2.06
Name: Quinn Davis, Major: Business, GPA: 2.36
Name: Avery Miller, Major: Mathematics, GPA: 2.05
Name: Taylor Miller, Major: Political Science, GPA: 2.09
Name: Avery Davis, Major: Business, GPA: 2.49
Name: Morgan Smith, Major: Psychology, GPA: 2.11
Name: Quinn Jones, Major: Biology, GPA: 2.35
Name: Casey Williams, Major: Psychology, GPA: 2.23
Name: Avery Garcia, Major: Political Science, GPA: 2.35
Name: Riley Davis, Major: Computer Science, GPA: 2.44
Name: Taylor Jones, Major: Psychology, GPA: 2.02
Name: Riley Jones, Major: English, GPA: 2.07
Name: Alex Jones, Major: Chemistry, GPA: 2.25
Name: Casey Jones, Major: Biology, GPA: 2.05
Name: Jordan Davis, Major: English, GPA: 2.07
Name: Morgan Williams, Major: Computer Science, GPA: 2.05
Name: Alex Brown, Major: Psychology, GPA: 2.34
Name: Quinn Williams, Major: Psychology, GPA: 2.11
Name: Casey Brown, Major: Mathematics, GPA: 2.06
Name: Taylor Williams, Major: Psychology, GPA: 2.48
Name: Taylor Davis, Major: English, GPA: 2.37
Name: Quinn Garcia, Major: Business, GPA: 2.11
Name: Morgan Jones, Major: Biology, GPA: 2.17
Name: Taylor Davis, Major: Art, GPA: 2.4
Name: Alex Jones, Major: Psychology, GPA: 2.29
Name: Taylor Jones, Major: Computer Science, GPA: 2.44
Name: Morgan Williams, Major: Mathematics, GPA: 2.18
Name: Alex Brown, Major: Biology, GPA: 2.34
Name: Morgan Miller, Major: Business, GPA: 2.25
Name: Quinn Garcia, Major: English, GPA: 2.16
Name: Jordan Garcia, Major: Biology, GPA: 2.4
Name: Taylor Miller, Major: Art, GPA: 2.31
Name: Alex Smith, Major: Art, GPA: 2.26
Name: Riley Smith, Major: Biology, GPA: 2.47
Name: Jordan Jones, Major: Business, GPA: 2.34
Name: Taylor Jones, Major: Mathematics, GPA: 2.4
Name: Casey Miller, Major: Political Science, GPA: 2.4
Name: Casey Brown, Major: History, GPA: 2.23
Name: Alex Brown, Major: Psychology, GPA: 2.27
Name: Taylor Smith, Major: Chemistry, GPA: 2.11
Name: Avery Brown, Major: History, GPA: 2.29
Name: Jordan Brown, Major: Chemistry, GPA: 2.02
Name: Taylor Garcia, Major: English, GPA: 2.17
Name: Avery Miller, Major: Art, GPA: 2.04
Name: Avery Miller, Major: Art, GPA: 2.3

In [ ]:
# # df = 
# # You might need to drop the SQLAlchemy internal state column, often '_sa_instance_state'
# if '_sa_instance_state' in df.columns:
#     df = df.drop(columns=['_sa_instance_state'])

# OR index from column 1
pd.DataFrame([s.__dict__ for s in query.all()]).iloc[:, 1:]

,email,student_id,first_name,year_level,gpa,is_active,major,last_name,enrollment_date
0,stu000001@trincoll.edu,STU000001,Jordan,2,2.45,True,English,Smith,2021-03-12
1,stu000002@trincoll.edu,STU000002,Avery,1,2.44,True,Computer Science,Smith,2023-06-15
2,stu000004@trincoll.edu,STU000004,Avery,2,2.43,True,English,Garcia,2022-07-05
3,stu000013@trincoll.edu,STU000013,Quinn,2,2.49,True,English,Williams,2023-10-08
4,stu000021@trincoll.edu,STU000021,Alex,1,2.17,True,Art,Brown,2023-05-07
...,...,...,...,...,...,...,...,...,...
195,stu000978@trincoll.edu,STU000978,Avery,2,2.29,True,History,Brown,2021-08-08
196,stu000983@trincoll.edu,STU000983,Jordan,4,2.02,True,Chemistry,Brown,2022-10-28
197,stu000991@trincoll.edu,STU000991,Taylor,2,2.17,True,English,Garcia,2022-09-06
198,stu000992@trincoll.edu,STU000992,Avery,2,2.04,True,Art,Miller,2020-10-01
199,stu000994@trincoll.edu,STU000994,Avery,3,2.30,True,Art,Miller,2022-09-07

In [53]:
from sqlalchemy import text


# Define your SQL query
sql_query = text("SELECT first_name, last_name, major, gpa, is_active FROM students WHERE gpa < 2.5 AND is_active = 1")

# Use pandas to read the SQL query into a DataFrame
df = pd.read_sql_query(sql_query, engine)

# Print the DataFrame as a table
df

    first_name last_name             major   gpa  is_active
0       Jordan     Smith           English  2.45          1
1        Avery     Smith  Computer Science  2.44          1
2        Avery    Garcia           English  2.43          1
3        Quinn  Williams           English  2.49          1
4         Alex     Brown               Art  2.17          1
..         ...       ...               ...   ...        ...
195      Avery     Brown           History  2.29          1
196     Jordan     Brown         Chemistry  2.02          1
197     Taylor    Garcia           English  2.17          1
198      Avery    Miller               Art  2.04          1
199      Avery    Miller               Art  2.30          1

[200 rows x 5 columns]

## Enrollment Counts

In [75]:
pd.merge(
    course_df,
    enrollment_df,
    on='course_id',
    how='inner'
)[['course_name','department','student_id','course_id']].groupby(by='course_id')['student_id'].count().sort_values(ascending=False).head(10)
# .sort_values(by=)

course_id
MATH-3828    51
CS-1477      49
BUS-2431     48
CS-2617      47
BUS-4715     47
ENG-4446     46
HIST-1380    45
CS-2349      45
HIST-1208    45
BIO-1750     44
Name: student_id, dtype: int64

In [76]:
import requests
import json
from pprint import pprint

# Base URL for your API
BASE_URL = "http://localhost:8000"

def test_endpoint(endpoint, params=None):
    """Test an API endpoint and print results"""
    url = f"{BASE_URL}{endpoint}"
    
    try:
        response = requests.get(url, params=params)
        print(f"\nüîç Testing: {endpoint}")
        print(f"Status Code: {response.status_code}")
        
        if response.status_code == 200:
            data = response.json()
            print("‚úÖ SUCCESS!")
            
            # Pretty print first few results if it's a list
            if isinstance(data, list) and len(data) > 0:
                print(f"Found {len(data)} results. First result:")
                pprint(data[0])
            else:
                pprint(data)
        else:
            print(f"‚ùå ERROR: {response.status_code}")
            print(response.text)
            
    except requests.exceptions.ConnectionError:
        print("‚ùå CONNECTION ERROR: Make sure your API is running!")
        print("Run: uvicorn main:app --reload")
    except Exception as e:
        print(f"‚ùå ERROR: {e}")

def main():
    """Run all API tests"""
    print("üöÄ Testing Campus Data API")
    print("=" * 50)
    
    # Test 1: Health check
    test_endpoint("/health")
    
    # Test 2: Root endpoint
    test_endpoint("/")
    
    # Test 3: Get students with filters
    test_endpoint("/students", {"limit": 3, "active_only": True})
    
    # Test 4: Get students by major
    test_endpoint("/students", {
        "major": "Computer Science", 
        "limit": 5,
        "min_gpa": 3.0
    })
    
    # Test 5: At-risk students
    test_endpoint("/students/at-risk", {"gpa_threshold": 2.5})
    
    # Test 6: Student analytics
    test_endpoint("/analytics/students")
    
    # Test 7: Course analytics
    test_endpoint("/analytics/courses", {"department": "CS"})
    
    # Test 8: Get specific student (you might need to change this ID)
    test_endpoint("/students/STU000001")
    
    # Test 9: ML prediction
    test_endpoint("/ml/predictions/student-success/STU000001")
    
    print("\nüéâ All tests completed!")
    print("\nüí° Pro tip: Visit http://localhost:8000/docs for interactive testing!")

# if __name__ == "__main__":
#     main()
main()

üöÄ Testing Campus Data API
==================================================

üîç Testing: /health
Status Code: 200
‚úÖ SUCCESS!
{'database': 'connected',
 'status': 'healthy',
 'timestamp': '2025-09-08T01:21:55.287159'}

üîç Testing: /
Status Code: 200
‚úÖ SUCCESS!
{'docs': '/docs',
 'endpoints': {'analytics': '/analytics/students',
               'at-risk': '/students/at-risk',
               'courses': '/analytics/courses',
               'predictions': '/ml/predictions',
               'students': '/students'},
 'message': 'Welcome to Trinity College Campus Data API'}

üîç Testing: /students
Status Code: 200
‚úÖ SUCCESS!
Found 3 results. First result:
{'email': 'stu000001@trincoll.edu',
 'enrollment_date': '2021-03-12T00:00:00',
 'first_name': 'Jordan',
 'gpa': 2.45,
 'is_active': True,
 'last_name': 'Smith',
 'major': 'English',
 'student_id': 'STU000001',
 'year_level': 2}

üîç Testing: /students
Status Code: 200
‚úÖ SUCCESS!
Found 5 results. First result:
{'email': 'stu000020@trincoll.edu',
 'enrollment_date': '2022-05-06T00:00:00',
 'first_name': 'Riley',
 'gpa': 3.86,
 'is_active': True,
 'last_name': 'Davis',
 'major': 'Computer Science',
 'student_id': 'STU000020',
 'year_level': 1}

üîç Testing: /students/at-risk
Status Code: 404
‚ùå ERROR: 404
{"detail":"Student not found"}

üîç Testing: /analytics/students
Status Code: 200
‚úÖ SUCCESS!
{'active_students': 739,
 'average_gpa': 2.97,
 'students_by_major': {'Art': 71,
                       'Biology': 67,
                       'Business': 75,
                       'Chemistry': 79,
                       'Computer Science': 71,
                       'English': 78,
                       'History': 73,
                       'Mathematics': 78,
                       'Political Science': 70,
                       'Psychology': 77},
 'total_students': 1000}

üîç Testing: /analytics/courses
Status Code: 500
‚ùå ERROR: 500
Internal Server Error

üîç Testing: /students/STU000001
Status Code: 200
‚úÖ SUCCESS!
{'email': 'stu000001@trincoll.edu',
 'enrollment_date': '2021-03-12T00:00:00',
 'first_name': 'Jordan',
 'gpa': 2.45,
 'is_active': True,
 'last_name': 'Smith',
 'major': 'English',
 'student_id': 'STU000001',
 'year_level': 2}

üîç Testing: /ml/predictions/student-success/STU000001
Status Code: 200
‚úÖ SUCCESS!
{'recommendations': ['Continue current academic plan'],
 'risk_factors': ['Low GPA'],
 'risk_level': 'Medium',
 'student_id': 'STU000001',
 'success_probability': 0.71}

üéâ All tests completed!

üí° Pro tip: Visit http://localhost:8000/docs for interactive testing!